body{
   background: #faf9f5;
}

.lang-tabs { margin-bottom: 20px; }

.lang-tabs label {
  color: black;
  font-size: 16px;
}


.lang-tabs input { display: none; }

.lang-tabs label {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
}

.lang-tabs input:checked + label {
  background: #eee;
  font-weight: bold;
}

.lang-content {
  display: none;
}

#tab-ru:checked ~ #ru {
  display: block;
}

#tab-en:checked ~ #en {
  display: block;
}